table{
    width: 100%;
}
thead {
    th {
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        color: salmon;
        border: 1px solid #000814;
    }
}
tbody {
    tr{
        td {
            color: #aab1b6;
            padding: 10px;
            border: 1px solid #000814;
        }
    }
}

tbody td:hover {
    background-color: #22272e;
}

tbody tr:hover td:first-child {
    border-left-color: white;
}

tbody tr:hover td:last-child {
    border-right-color: white;
}

$primary-color: salmon; // Set your primary color

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: $primary-color;
  color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:focus {
    outline: none;
  }
}